backend/checkpoints/
backend/models/

# Ignore frontend node modules
frontend/node_modules/
frontend/.next/


# Ignore cache
backend/src/cni_analyzer/__pycache__/
backend/src/cni_analyzer/*.pyc
backend/src/cni_analyzer/*.pyo
backend/src/cni_analyzer.egg-info/

.DS_Store
